.demo {
  box-sizing: border-box;
  padding: 0pt 15pt;
}
.demo > input#auto-search-example-input {
  box-sizing: border-box;
  width: 100%;
  height: 30pt;
  margin: 0;
  padding: 0 10pt;
  display: block;
  line-height: 30pt;
  font-size: 15pt;
  font-family: 'Overpass', sans-serif;
  background-color: #444;
  color: white;
  border: none;
  transition: .25s;
}
.demo > input#auto-search-example-input:focus {
  outline: none;
  background-color: #777;
  transition: .25s;
}

.demo > .btn-group {
  text-align: right;
  margin: 5pt 0;
}
.demo > .btn-group > button {
  border: none;
  display: inline-block;
  border-radius: 0;
  background-color: #444;
  color: #ddd;
  font-family: 'Overpass', sans-serif;
  height: 30pt;
  line-height: 30pt;
  font-size: 12pt;
  padding: 0 10pt;
  transition: .25s;
}
.demo > .btn-group > button:hover {
  background-color: #777;
  transition: .25s;
}
.demo > ul {
  border: 1pt solid #777;
}
.demo > ul.list {
  max-height: 300pt;
  overflow: auto;
}
.demo > ul.list > li {
  height: 30pt;
  line-height: 30pt;
  background-color: #444;
  box-sizing: border-box;
  padding: 0 10pt;
}
.demo > ul.list > li:hover {
  height: 30pt;
  line-height: 30pt;
  background-color: #777;
}
.demo > ul.list > li + li {
  border-top: 2pt solid #555;
}
